* {
 font-family: 'Slabo 27px', serif;
}
/*input {
	width: 160px;
	height: 18px;
    
  	border: solid 1px #fff;
  	box-shadow: inset 1px 1px 2px 0 #707070;*/
  	
}
#chunk {
	outline: black dotted 1px;
	width: 1425px;
	height: 1400px;
	background-color: rgba(192,192,192,0.3);
}

#head {
	margin-left: 100px;
	width: 900px;
	height: 300px;
}

.pic1 {
	padding-top: 50px;
	margin-left: 230px;
	width: 900px;
	height: 450px;
}
#wrapper {
	background-color: white;
	width: 900px;
	min-height: 550px;
	outline: 1px solid black;
	margin-left: 230px;
}

#welc {
	margin-left: 165px;
	padding-top: 20px;

}

#portal	{
	margin-left: 330px;
	padding-bottom: 15px;
}

.btn {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: #3333FF;
	font-size:100%;
	color: white;
}

#error {
	font-size: large;
	color: red;
}
#success {
	font-size: large;
	color: green;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.btn {
  background: #ccdae3;
  background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #06210d;
  font-size: 16px;
  padding: 4px 10px 6px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #999999, #3498db);
  background-image: -moz-linear-gradient(top, #999999, #3498db);
  background-image: -ms-linear-gradient(top, #999999, #3498db);
  background-image: -o-linear-gradient(top, #999999, #3498db);
  background-image: linear-gradient(to bottom, #999999, #3498db);
  text-decoration: none;
}


