* {
 font-family: 'Slabo 27px', serif;
}
/*input {
	width: 160px;
	height: 18px;
    
  	border: solid 1px #fff;
  	box-shadow: inset 1px 1px 2px 0 #707070;*/
  	
}
#chunk {
	outline: black dotted 1px;
	width: 1425px;
	height: 1400px;
	background-color: rgba(192,192,192,0.3);
}

.flash {
	margin-left: 19%;
	color:red;
}

#head {
	margin-left: 100px;
	width: 900px;
	height: 300px;
}

.pic1 {
	padding-top: 25px;
	margin-left: 230px;
	width: 900px;
	height: 450px;
}
#wrapper {
	background-color: white;
	width: 900px;
	min-height: 400px;
	outline: 1px solid black;
	margin-left: 230px;
}

#welc {
	margin-left: 26%;
	padding-top: 20px;

}
.loginbubble{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	display: inline-block;
	vertical-align: top;
	margin-left: 23%;
	outline: 1px solid black;
	width: 17%;
}
.emailbubble {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	display: inline-block;
	vertical-align: top;
	margin-left:5%;
	outline: 1px solid black;
	width: 27%;
}

	#login {
		display: inline-block;
		margin-left: 25%;
		width: 150px;
		height: 300px;
		
		
	}
		.in {
			width: 125px;
			height: 25px;
		
		}
	#email {
		vertical-align: top;
		display: inline-block;
		margin-left: 12%;
		padding: 0 0 10px 5px;
		
	}

.btn {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: #3333FF;
	font-size:100%;
	color: white;
}

#error {
	font-size: large;
	color: red;
}
#success {
	font-size: large;
	color: green;
}
table {
  border-collapse: collapse;
 
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.btn {
  background: #ccdae3;
  background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
  background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #06210d;
  font-size: 16px;
  padding: 4px 10px 6px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #999999;
  background-image: -webkit-linear-gradient(top, #999999, #3498db);
  background-image: -moz-linear-gradient(top, #999999, #3498db);
  background-image: -ms-linear-gradient(top, #999999, #3498db);
  background-image: -o-linear-gradient(top, #999999, #3498db);
  background-image: linear-gradient(to bottom, #999999, #3498db);
  text-decoration: none;
}
.nav h4{
	display: inline-block;
	padding: 3px 3px 3px 3px;
}
.users {
	 margin-left: 5%;
}
	.user_table {
		margin-left: 5%;
		font-size: 17px;
	}
	.table_all {
		margin-left: 10%;
	}
.edit {
	margin-left: 5%;
}

.holder {
	width: 1400px;
	min-height: 1400px;
 	background-color:#FDF3E7;
 	background-opacity: 0.5;


}
	.beach {
		margin-top: 1%;
		margin-bottom: 1%;
		border-radius: 5px;
		margin-left: 7%;
		display: inline-block;
		width: 1200px;
		height: 300px;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
	}
	.cabin {
		margin-top: 1%;
		border-radius: 5px;
		margin-left: 7%;
		display: inline-block;
		width: 1200px;
		height: 300px;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
	}
	#the_wrap {

		margin-top: 1%;
		margin-bottom: 1%;
		border-radius: 5px;
		background-color: #74AFAD;
		background-opacity: 0.3;
		width: 1200px;
		min-height: 400px;
		margin-left: 100px;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);

	}
	#text_hold {
	padding: 15px 15px 15px 15px;
}

		.t_bl {
			font-weight: bold;
			background-color:#FDF3E7;
 			background-opacity: 0.5;
			border: 2px solid black;
			background-opacity: 0.3;
			-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		    -moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		    box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		}

	.h1 {
		margin-left: 25px;
	}
#t_create {
		margin-top: 1%;
		margin-bottom: 1%;
		border-radius: 5px;
		background-color: #74AFAD;
		background-opacity: 0.3;
		width: 1200px;
		min-height: 400px;
		margin-left: 100px;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);

	}
		#hold_input {
		padding: 15px 15px 15px 15px;
		height: 400px;
		font-size: large;
			}
		#g1_bubble {
			display:inline-block;
			margin-left: 50px
			}
		#g1_bubble input{
			width: 300px;
			height: 60px;
			font-size: 20px;
		}	

		#g1 {
			display: inline-block;
			margin-left: 25px;
			max-width: 300px;
			min-height: 100px;
		}
		#g2_bubble{
			display: inline-block;
			vertical-align:top;
			margin-left: 50px;
		}
		#g2_bubble input {
			width: 300px;
			height: 60px;
			font-size: 20px;
		}

		#txtra  {
			font-size: 20px;
		}

		#g2 {
			vertical-align: top;
			display: inline-block;
			margin-left: 5px;
			width: 300px;
			min-height: 100px;
		}
		#g3_bubble{
			display: inline-block;
			vertical-align:top;
		}
		#g3_errors {
			margin-left: 40px;
			font-size: 20px;
			color: red;
		}

		.btn1 {
        background: #ccdae3;
        background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        border-radius: 6px;
        color: #06210d;
        height: 40px;
        width: 1100px;
        font-size: 20px;
        padding: 4px 10px 6px 18px;
        text-decoration: none;
        margin-left: 50px;
        margin-bottom: 15px;
        }

        .vote {
		background: #ccdae3;
        background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        border-radius: 6px;
        font-family: Georgia;
        color: white;
        font-size: 16px;
        padding: 4px 10px 6px 8px;
        text-decoration: none;
        }
        .vote:hover {
  		background: #999999;
        background-image: -webkit-linear-gradient(top, #999999, #3498db);
        background-image: -moz-linear-gradient(top, #999999, #3498db);
        background-image: -ms-linear-gradient(top, #999999, #3498db);
        background-image: -o-linear-gradient(top, #999999, #3498db);
        background-image: linear-gradient(to bottom, #999999, #3498db);
        text-decoration: none;
        }

#discuss {
	display: inline-block;
	margin-right: 25px;
	-webkit-box-shadow: 14px 13px 17px 3px rgba(0,0,0,0.52);
	-moz-box-shadow: 14px 13px 17px 3px rgba(0,0,0,0.52);
	box-shadow: 14px 13px 17px 3px rgba(0,0,0,0.52);
	background-color: #74AFAD;

     
}	
	.forum {
		margin-left: 1%;
		display: inline-block;
		
	}
	.logout {
		
		display: inline-block;

	}
	.logout_btn {
		background: #ccdae3;
        background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        border-radius: 6px;
 		width: 149px;
        color: white;
        font-size: 16px;
        padding: 4px 10px 6px 8px;
        text-decoration: none;
    }
    .logout_btn:hover {
  		background: #999999;
        background-image: -webkit-linear-gradient(top, #999999, #3498db);
        background-image: -moz-linear-gradient(top, #999999, #3498db);
        background-image: -ms-linear-gradient(top, #999999, #3498db);
        background-image: -o-linear-gradient(top, #999999, #3498db);
        background-image: linear-gradient(to bottom, #999999, #3498db);
        text-decoration: none;
        }

    .forum_btn {
     	background: #ccdae3;
        background-image: -webkit-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -moz-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -ms-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: -o-linear-gradient(top, #ccdae3, #2c3c45);
        background-image: linear-gradient(to bottom, #ccdae3, #2c3c45);
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        width: 149px;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        padding: 4px 10px 6px 8px;
        text-decoration: none;
     }

    .forum_btn:hover {
  		background: #999999;
        background-image: -webkit-linear-gradient(top, #999999, #3498db);
        background-image: -moz-linear-gradient(top, #999999, #3498db);
        background-image: -ms-linear-gradient(top, #999999, #3498db);
        background-image: -o-linear-gradient(top, #999999, #3498db);
        background-image: linear-gradient(to bottom, #999999, #3498db);
        text-decoration: none;
        }
#the_wrap3 {
		display: inline-block;
		margin-top: 2%;
		margin-bottom: 1%;
		border-radius: 5px;
		background-color: #74AFAD;
		background-opacity: 0.3;
		width: 400px;
		min-height: 300px;
		margin-left:16%;
		vertical-align: middle;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
}
	#createpost {
		padding: 5px 5px 15px 15px;
	}

#the_wrap2 {
		
		margin-top: 4%;
		margin-bottom: 1%;
		border-radius: 5px;
		background-color: #74AFAD;
		background-opacity: 0.3;
		width: 1200px;
		min-height: 400px;
		margin-left: 7%;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);

	}
	#discuss {
		margin-top: 2%;
		vertical-align: top;
		display: inline-block;
		margin-left: 7%;


	}
	.discuss_logout {
		display: block;
		
	}
	.discuss_forum {
		display: block;
		
	}
	.discuss_comms {
		display: block;
	}

#the_wrap4 {
		padding: 2px 2px 2px 2px;
		margin-top: 4%;
		margin-bottom: 1%;
		border-radius: 5px;
		background-color: #74AFAD;
		background-opacity: 0.3;
		width: 1200px;
		min-height: 400px;
		margin-left: 7%;
		-webkit-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		-moz-box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);
		box-shadow: 13px 13px 21px 2px rgba(0,0,0,0.51);

	}


	.posts_comms {
		margin-left: 5%;
		margin-right: 5%;
		border-radius: 5px;
		overflow: scroll;
		background-color: #FF7F50;
		padding-left: 10px;
		padding-right: 10px;
		line-height:85%;
	}
	.head_post {
		display: inline-block;

	}
	.head_post2 {
		display: inline-block;
		margin-left: 15px;
	}
	.likes_comms {
		display: inline-block;
		width: 50%
	}
	.comment {
		display: inline-block;
		width: 60%;
		height: 10%;
	}
	.comment_submit {
		display: inline-block;
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		background-image: -o-linear-gradient(top, #3498db, #2980b9);
		background-image: linear-gradient(to bottom, #3498db, #2980b9);
		-webkit-border-radius: 5;
		-moz-border-radius: 5;
		border-radius: 5px;
		font-family: Arial;
		color: #ffffff;
		font-size: 12px;
		padding: 4px 6px 4px 5px;
		border: solid #74AFAD 0px;
		text-decoration: none;
	
	}
	.comment_submit:hover {
  	background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
	.head_post3 {
		display: inline-block;
		margin-left: 15px;
		width: 70%;
	}

.head{
	margin-left: 2%;
}



